/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
body .sr-only {
  display: none;
}
body > header {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  background-color: rgb(10, 10, 92);
  height: 12vh;
}
body > header figure svg {
  width: 18vh;
  margin-left: 3vw;
}
body > header nav {
  display: flex;
}
body > header nav ul {
  display: flex;
  flex-direction: row;
  gap: 8em;
  align-self: center;
  list-style-type: none;
}
body > header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
}
body > main #main-section {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  background-image: url("assets/img/home-computer.jpg");
  background-size: cover;
  background-position: center;
}
body > main #main-section header {
  padding-top: 3vh;
}
body > main #main-section header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
}
body > main #main-section header h2 {
  color: rgb(196, 20, 102);
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}
body > main #yepfolio-description {
  background-color: rgb(36, 36, 177);
}
body > main #yepfolio-description article {
  padding: 2em 5em 7em 5em;
}
body > main #yepfolio-description article header h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 3em;
  font-weight: 500;
}
body > main #yepfolio-description article section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
body > main #yepfolio-description article section p {
  color: white;
  font-size: 1.1em;
}
body > main #last-projects header {
  margin-bottom: 2em;
}
body > main #last-projects header h2 {
  text-transform: uppercase;
  color: rgb(36, 36, 177);
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 2em;
}
body > main #last-projects section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2em;
  padding: 3em;
  height: 100vh;
}
body > main #last-projects section article:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url("assets/img/pharmacy.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
}
body > main #last-projects section article:first-of-type > footer {
  align-self: end;
  padding-left: 1em;
  padding-bottom: 1em;
}
body > main #last-projects section article:first-of-type > footer h3 {
  text-transform: uppercase;
  color: rgb(196, 20, 102);
  font-size: 1.1em;
}
body > main #last-projects section article:first-of-type > footer h4 {
  color: white;
  font-size: 1.2em;
}
body > main #last-projects section article:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url("assets/img/librairie.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
}
body > main #last-projects section article:nth-of-type(2) footer {
  align-self: end;
  padding-left: 1em;
  padding-bottom: 1em;
}
body > main #last-projects section article:nth-of-type(2) footer h3 {
  text-transform: uppercase;
  color: rgb(196, 20, 102);
  font-size: 1.1em;
}
body > main #last-projects section article:nth-of-type(2) footer h4 {
  color: white;
  font-size: 1.2em;
}
body > main #last-projects section article:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/2;
  background-image: url("assets/img/boulangerie.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
}
body > main #last-projects section article:nth-of-type(3) footer {
  align-self: end;
  padding-left: 1em;
  padding-bottom: 1em;
}
body > main #last-projects section article:nth-of-type(3) footer h3 {
  text-transform: uppercase;
  color: rgb(196, 20, 102);
  font-size: 1.1em;
}
body > main #last-projects section article:nth-of-type(3) footer h4 {
  color: white;
  font-size: 1.2em;
}
body > main #last-projects section article:nth-of-type(4) {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("assets/img/mairie.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
}
body > main #last-projects section article:nth-of-type(4) footer {
  align-self: end;
  padding-left: 1em;
  padding-bottom: 1em;
}
body > main #last-projects section article:nth-of-type(4) footer h3 {
  text-transform: uppercase;
  color: rgb(196, 20, 102);
  font-size: 1.1em;
}
body > main #last-projects section article:nth-of-type(4) footer h4 {
  color: white;
  font-size: 1.2em;
}
body > main #last-projects section article:last-of-type {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("assets/img/festival.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
}
body > main #last-projects section article:last-of-type footer {
  align-self: end;
  padding-left: 1em;
  padding-bottom: 1em;
}
body > main #last-projects section article:last-of-type footer h3 {
  text-transform: uppercase;
  color: rgb(196, 20, 102);
  font-size: 1.1em;
}
body > main #last-projects section article:last-of-type footer h4 {
  color: white;
  font-size: 1.2em;
}
body > main #contact {
  background-color: rgb(47, 9, 83);
}
body > main #contact header {
  padding-top: 2em;
}
body > main #contact header h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 3em;
  font-weight: 500;
}
body > main #contact form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 25vw;
  padding-right: 25vw;
}
body > main #contact form fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body > main #contact form fieldset label {
  color: white;
  font-weight: 500;
}
body > main #contact form fieldset input {
  height: 5vh;
}
body > main #contact #submit-form {
  border: 2px white solid;
  color: white;
  background-color: transparent;
  height: 7vh;
  text-transform: uppercase;
  margin-top: 2em;
}
body > footer {
  background-color: rgb(47, 9, 83);
  height: 10vh;
}

/*# sourceMappingURL=style.css.map */
