@import "reset";

html
{
    font-size: 14px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body
{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    .sr-only
    {
        display: none;
    }

    & > header
    {
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        background-color: rgb(10, 10, 92);
        height: 12vh;

        figure
        {
            


            svg
            {
                width: 18vh;
                margin-left: 3vw;
                
            }
        }

        nav
        {
            display: flex;

            ul
            {
                display: flex;
                flex-direction: row;
                gap: 8em;
                align-self: center;
            
                li
                {
                    

                    a 
                    {
                        text-decoration:none;
                        list-style-type: none;
                        text-transform: uppercase;
                        color: white;
                        font-size: 1.2em;
                    }
                    
                }
            }
        }
    }

    & > main 
    {
        #main-section
        {
            height: 100vh;
            display: grid;
            grid-template-rows: 0.2fr 0.8fr;
            background-image: url("assets/img/home-computer.jpg");
            background-size: cover;
            background-position: center;

            header
            {
                
                padding-top: 3vh;

                h1
                {
                    
                    color: white;
                    text-transform: uppercase;
                    font-size: 2em;
                    font-weight: 500;
                    text-align: center;
                }

                h2
                {
                    color: rgb(196, 20, 102);
                    text-transform: uppercase;
                    font-size: 1.8em;
                    font-weight: 500;
                    text-align: center;
                }
            }

        }

        #yepfolio-description
        {
            background-color: rgb(36, 36, 177);

            article
            {

                padding: 2em 5em 7em 5em;

                header
                {
                    h2 
                    {
                        text-transform: uppercase;
                        color: white;
                        text-align: center;
                        font-size: 1.5em;
                        padding-bottom: 3em;
                        font-weight: 500;
                    }
                    
                }

                section 
                {
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    p
                    {
                        color: white;
                        font-size: 1.1em;
                        
                    }
                }    
            }
        }

        #last-projects
        {
            
            header
            {
                margin-bottom: 2em;

                h2
                {
                    text-transform: uppercase;
                    color: rgb(36, 36, 177);
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 500;
                    padding-top: 2em;
                }
            }

            section 
            {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 2em;
                padding: 3em;
                height: 100vh;

                article:first-of-type
                {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    background-image: url("assets/img/pharmacy.jpeg");
                    background-size: cover;
                    background-position: center;
                    display: flex;

                    & > footer 
                    {
                        align-self: end;
                        padding-left: 1em;
                        padding-bottom: 1em;    
                        

                        h3
                        {
                            text-transform: uppercase;
                            color: rgb(196, 20, 102);
                            font-size: 1.1em;
                           
                        }

                        h4
                        {
        
                            color: white;
                            font-size: 1.2em;
                            
                        }


                    }
                }

                article:nth-of-type(2)
                {
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    background-image: url("assets/img/librairie.jpeg");
                    background-size: cover;
                    background-position: center;
                    display: flex;

                    footer 
                    {
                        align-self: end;
                        padding-left: 1em;
                        padding-bottom: 1em;

                        h3
                        {
                            text-transform: uppercase;
                            color: rgb(196, 20, 102);
                            font-size: 1.1em;
                        }

                        h4
                        {
        
                            color: white;
                            font-size: 1.2em;
                        }


                    }
                }

                article:nth-of-type(3)
                {
                    grid-column: 3 / 4;
                    grid-row: 1 / 2;
                    background-image: url("assets/img/boulangerie.jpeg");
                    background-size: cover;
                    background-position: center;
                    display: flex;

                    footer 
                    {
                        align-self: end;
                        padding-left: 1em;
                        padding-bottom: 1em;

                        h3
                        {
                            text-transform: uppercase;
                            color: rgb(196, 20, 102);
                            font-size: 1.1em;
                        }

                        h4
                        {
        
                            color: white;
                            font-size: 1.2em;
                        }


                    }
                }

                article:nth-of-type(4)
                {
                    grid-column: 1 / 2;
                    grid-row: 2 / 3;
                    background-image: url("assets/img/mairie.jpeg");
                    background-size: cover;
                    background-position: center;
                    display: flex;

                    footer 
                    {
                        align-self: end;
                        padding-left: 1em;
                        padding-bottom: 1em;

                        h3
                        {
                            text-transform: uppercase;
                            color: rgb(196, 20, 102);
                            font-size: 1.1em;
                        }

                        h4
                        {
        
                            color: white;
                            font-size: 1.2em;
                        }


                    }
                }

                article:last-of-type
                {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    background-image: url("assets/img/festival.jpeg");
                    background-size: cover;
                    background-position: center;
                    display: flex;

                    footer 
                    {
                        align-self: end;
                        padding-left: 1em;
                        padding-bottom: 1em;
                        

                        h3
                        {
                            text-transform: uppercase;
                            color: rgb(196, 20, 102);
                            font-size: 1.1em;
                        }

                        h4
                        {
        
                            color: white;
                            font-size: 1.2em;
                        }


                    }
                }
            }
        }

        #contact
        {
            background-color: rgb(47, 9, 83);

            header
            {
                padding-top: 2em;

                h2 
                {
                    text-transform: uppercase;
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    padding-bottom: 3em;
                    font-weight: 500;
                }
            }

            form
            { 
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding-left: 25vw;
                padding-right: 25vw;

                fieldset
                {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    label
                    {
                        color: white;
                        font-weight: 500;
                    }

                    input 
                    {
                        height: 5vh;
                    }
                }
            }

            #submit-form
            {
                border: 2px white solid;
                color: white;
                background-color:transparent;
                height: 7vh;
                text-transform: uppercase;
                margin-top: 2em;
            }
        }

    }

    & > footer 
    {
        background-color: rgb(47, 9, 83);
        height: 10vh;
    }
}
